body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web-logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 80px
}

body {
    margin-top: 100px;
    background: blue;
    color: white;
    line-height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 7px;
    text-align: center;
    padding-bottom: 30px;
}

.finish-home-link {
    color: white;
    background: green;
    outline: none;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    text-decoration: none;
}