* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-div {
    color: white;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px; 
}

.intro-div {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.start-quiz-btn {
    background-color: rgb(25, 25, 25);
    color: greenyellow;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 15px;
}

@keyframes rotation {
    from {
      transform: rotateY(0deg)
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
img {
    width: 65px;
    height: 65px;
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 20px;
    border-radius: 55px;
    animation: rotation 2s infinite linear;
}

.time {
    background-color: rgb(25, 25, 25);
    color: greenyellow;
    display: inline;
    margin-top: 55px;
    margin-left: 200px;
    font-size: 20px;
    padding: 10px;
     border: none;
     border-radius: 10px 
}

.to-home-link {
    background-color: rgb(25, 25, 25);
    color: greenyellow;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 15px;
}

.to-home-link:hover,
.start-quiz-btn:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    transition: 0.8s;
}

.app {
    display: none;
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 20px;
    color: #001e4d;
    font-weight: 600px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    text-align: center;

}

.quiz {
padding: 30px 0;
}

.quiz h2 {
    font-size: 20px;
    color: #001e4d;
    font-weight: 600px; 
}

.btn {
    font-size: 20px;
    background: #fff;
    color: #222;
    font-weight: 500px;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}
.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500px;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
 }
.correct {
    background: #9aeabc;   
}

.incorrect {
    background: #ff9393;
}

@media screen and (min-width: 454px) and (max-width: 2409px) {
    body {
        padding-top: 0px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: auto; 
    }
}